@font-face {
    font-family: 'digital-clock-font';
    src: url('./fonts/digital-7.ttf');
   }

html, body {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: auto;
    background-color: rgb(37, 30, 37);
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(31, 31, 31);
    /* flex-direction: column; */
    width: 400px;
    height: 775px;
    border: 2px solid rgb(18, 255, 109);
    border-radius: 20px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px 10px 2px;
    height: 200px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 20px 10px 15px 10px;
    font-family: 'digital-clock-font';
    color: greenyellow;
    font-size: 55px;
    line-height: 105%;
    background-color: rgb(46, 46, 46); 
    text-align: right;
}

.display-top, .display-bottom {
    /* margin: 2px 0px 10px 10px; */
    text-wrap: wrap;
    display: block;
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    /* border: 2px solid black; */
    /* gap: 3px; */
    margin-bottom: 10px;
}

button {
    flex: 1 0 auto;
    border: 2px solid greenyellow;
    border-radius: 150px;
    background-color: rgba(36, 36, 61, 0.89);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: greenyellow;
    font-size: 26px;
    font-weight: 600;
    width: 20%;
    height: 80px;
    margin: 5px;
    box-shadow: 1px 2px 2px 0px #4f43f0;
}

.clear {
    background-color: rgb(0, 78, 78);
}

.equals {
    background-color: rgb(0, 116, 116);
}

.operator {
    background-color: hsla(132, 80%, 10%, 0.89);
}

button:hover {
    background-color: hsla(231, 70%, 48%, 0.856);
    border-color: rgb(7, 202, 105);
    cursor: pointer;
}

/* for smaller screens */

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(31, 31, 31)
    }

    .calculator {
        border: none;
    }
  }